{% extends 'base.html' %}

{% block main %}

<div class="container update-items">
    <h2>Delete Item</h2>
    <div class="row">
        <div class="col-6">
            <h5>Id: {{ item.id }}</h5>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Field</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Id</th>
                    <td>{{ item.id }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{ item.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Price</th>
                    <td colspan="2">{{ item.price }}</td>
                  </tr>
                </tbody>
              </table>
              <form action="" method="post">
                <button type="submit" class="btn btn-primary">Delete</button>
                <a class="btn btn-primary" href="/delete" role="button">Cancel</a>
              </form>

        </div>
        <div class="col-6">
            <img src="{{ item.image }}" width="200rem" alt="">
        </div>
    </div>
    
    


{% endblock %}